<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4xyvzgg0LBcKJ7a5ArllrybUHey5LUIU</string>
	<key>GCM_SENDER_ID</key>
	<string>369052574866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobgo</string>
	<key>PROJECT_ID</key>
	<string>jobgo-b5a75</string>
	<key>STORAGE_BUCKET</key>
	<string>jobgo-b5a75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369052574866:ios:17a47a242850e02f66324b</string>
</dict>
</plist>